<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>showTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AA47AF51D92783200DD52E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE9E8691D657DDE00100729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE9E8821D657DE000100729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AE9E88D1D657DE000100729</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
